<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elmish.XamarinForms" version="0.13.0" targetFramework="xamarinmac20" />
  <package id="FSharp.Core" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="3.1.0.583944" targetFramework="xamarinmac20" />
</packages>